  __pycache__/
  *.pyc
  venv/
  .env
  *.log
.env

pg_hba.conf
docker-compose.yml
logs/tech_news_aggregator.log
Tech News Aggregator CLI 2-Week Plan.markdown

logs/tech_news_aggregator.log
JOB_FEATURES.md

__pycache__/config.cpython-313.pyc
__pycache__/logger.cpython-313.pyc
__pycache__/db.cpython-312.pyc
__pycache__/cli.cpython-312.pyc
__pycache__/hn_jobs.cpython-312.pyc
__pycache__/hn_jobs.cpython-313.pyc
__pycache__/utils.cpython-313.pyc
__pycache__/cli.cpython-313.pyc
__pycache__/db.cpython-313.pyc
__pycache__/aggregator.cpython-313.pyc
__pycache__/aggregator.cpython-312.pyc
__pycache__/decorators.cpython-313.pyc
__pycache__/utils.cpython-312.pyc
__pycache__/logger.cpython-312.pyc
__pycache__/decorators.cpython-312.pyc
__pycache__/config.cpython-312.pyc

.claude/settings.local.json
